<footer class="footer bg-dark py-3 mt-auto">
  <div class="container">
    <div class="text-muted text-center">
      Pořadatelem Jamky roku 2021 je internetový obchod:
    </div>
    <div class="text-center my-4">
      <a href="https://www.prodiscgolf.cz/">
        <img
          src="/logo/prodiscgolf_logo_bile-300x57.png"
          alt="Internetový obchod prodiscgolf.cz"
        />
      </a>
    </div>
    <div class="text-muted text-center">
      &copy;2021 Discgolfová Jamka roku 2021. Vytvořil
      <a class="link-success" href="https://github.com/samueldusek"
        >Samuel Dušek</a
      >
      pomocí NodeJS a MongoDB.
    </div>
  </div>
</footer>
