<footer class="footer bg-dark py-3 mt-auto">
  <div class="container">
    <div class="text-muted text-center">
      Pořadatelem Jamky roku 2021 je internetový obchod:
    </div>
    <div class="row my-4">
      <div class="col-6 offset-3">
        <a href="https://www.prodiscgolf.cz/">
          <img
            src="/logo/prodiscgolf_cz_bile.svg"
            alt="Internetový obchod prodiscgolf.cz"
          />
        </a>
      </div>
    </div>
    <div class="text-muted text-center">
      Oficiálním partnerem Jamky roku 2021 je internetový discgolfový portál:
    </div>
    <div class="row my-4">
      <div class="col-4 offset-4">
        <a href="https://udisc.com/">
          <img
            src="/logo/OW_UDisc.svg"
            alt="Internetový obchod prodiscgolf.cz"
          />
        </a>
      </div>
    </div>
    <div class="text-muted text-center mt-5">
      &copy;2021 Discgolfová Jamka roku 2021. Vytvořil
      <a class="link-success" href="https://github.com/samueldusek"
        >Samuel Dušek</a
      >
      pomocí NodeJS, MongoDB a Bootstrap.
    </div>
  </div>
</footer>
