<header class="header-color text-white d-none d-lg-block">
  <div class="container">
    <div class="d-flex justify-content-start align-item-center">
      <div class="me-auto">
        <i class="bi bi-check"></i>
        <p class="d-inline small">
          Pořadatelem ankety Jamka roku je internetový obchod proDiscgolf.cz.
        </p>
      </div>
      <div>
        <ul class="nav">
          <li>
            <a
              class="nav-link text-white"
              href="https://www.prodiscgolf.cz"
              target="_blank"
              ><i class="bi bi-cart3"></i
            ></a>
          </li>
          <li>
            <a
              class="nav-link text-white"
              href="https://instagram.com/prodiscgolfcz"
              target="_blank"
            >
              <i class="bi bi-instagram"></i
            ></a>
          </li>
          <li>
            <a
              class="nav-link text-white"
              href="https://www.youtube.com/channel/UCFGXycufiPqryrXjtChxBCQ"
              target="_blank"
            >
              <i class="bi bi-youtube"></i>
            </a>
          </li>
          <li>
            <a
              class="nav-link text-white"
              href="https://facebook.com/prodiscgolfcz"
              target="_blank"
            >
              <i class="bi bi-facebook"></i
            ></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
