<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>
  <body class="d-flex flex-column">
    <div class="mainBox shadow">
      <div class="navBars">
        <%- include('../partials/header') %> <%- include('../partials/navbar')
        %>
      </div>
      <div class="title">
        <div class="title-logo">
          <img src="/logo/logo19_white_1000px.png" alt="Jamka Roku 2021" />
        </div>
        <h1 class="fw-bold">
          Hlasování o nejhezčí discgolfovou jamku roku 2021
        </h1>
        <p>Anketa bude probíhat v listopadu 2021</p>
      </div>
    </div>
    <main>
      <section class="guide container my-5">
        <h2
          class="
            display-5
            d-inline
            fw-bold
            border-bottom border-5 border-success
          "
        >
          Jak soutěžit?
        </h2>
        <div class="row row-cols-1 row-cols-md-2 row-cols-xl-4 g-4 mt-3">
          <div class="col">
            <div class="card h-100 shadow text-center">
              <img
                src="/img/reg.jpg"
                class="card-img-top"
                alt="Stánek prodiscgolf.cz"
              />
              <div class="card-body">
                <h5 class="card-title fw-bold fs-3">1.<br />Zaregistruj se</h5>
                <p class="card-text">
                  Abys mohl/a soutěžit a hlasovat, musíš se
                  <a class="link-success" href="/users/register"
                    >zaregistrovat</a
                  >.
                </p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100 shadow text-center">
              <img
                src="/img/hole5.jpg"
                class="card-img-top"
                alt="Jamka prodiscgolf.cz"
              />
              <div class="card-body">
                <h5 class="card-title fw-bold fs-3">
                  2.<br />Nominuj tři jamky
                </h5>
                <p class="card-text">
                  Po přihlášení v
                  <a class="link-success" href="/courses"
                    >seznamu všech hřišť</a
                  >
                  vyhledej své 3 oblíbené jamky a nominuj je.
                </p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100 shadow text-center">
              <img
                src="/img/duel.jpg"
                class="card-img-top"
                alt="Kryštof Novák a jeho drive"
              />
              <div class="card-body">
                <h5 class="card-title fw-bold fs-3">
                  3.<br />Hlasuj v duelech
                </h5>
                <p class="card-text">
                  Až skončí nominační fáze, začnou duely. V každém duelu můžeš
                  hlasovat pro jamku, kterou máš raději.
                </p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100 shadow text-center">
              <img src="/img/win.jpg" class="card-img-top" alt="Poháry" />
              <div class="card-body">
                <h5 class="card-title fw-bold fs-3">4.<br />Vyhraj</h5>
                <p class="card-text">
                  Díky tvé účasti v této soutěži můžeš vyhrát skvělé ceny.
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="timeline container my-5">
        <h2
          class="
            display-5
            d-inline
            mb-4
            fw-bold
            border-bottom border-5 border-success
          "
        >
          Termíny soutěže
        </h2>
        <div class="row">
          <div
            class="
              col-4 col-md-6
              text-end
              border-end border-success border-4
              d-flex
              align-items-center
              justify-content-end
              position-relative
              p-0
            "
          >
            <h3 class="fw-bold fs-2 me-4 me-md-5">Úterý<br />2.11.2021</h3>
            <div
              class="
                position-absolute
                top-50
                start-100
                translate-middle
                badge
                rounded-circle
                bg-success
                p-3
              "
            >
              <span class="visually-hidden"></span>
            </div>
          </div>
          <div class="col-8 col-md-6 col-lg-5 ps-5 py-5">
            <div class="card h-100 shadow text-center">
              <img
                src="/img/hole5.jpg"
                class="card-img-top"
                alt="Jamka prodiscgolf.cz"
              />
              <div class="card-body">
                <h5 class="card-title fw-bold fs-3">Nominace</h5>
                <p class="card-text">
                  V úterý 2.11.2021 to začne! Spustí se možnost se
                  <a class="link-success" href="/users/register">registrovat</a>
                  a nominovat své tři nejoblíbenější jamky. 32 jamek, které
                  získají nejvíce nominací pak postoupí do playoff.
                </p>
              </div>
            </div>
          </div>
          <div class="col-0 col-lg-1"></div>
        </div>
        <div class="row">
          <div
            class="
              col-4 col-md-6
              text-end
              border-end border-success border-4
              d-flex
              align-items-center
              justify-content-end
              position-relative
              p-0
            "
          >
            <h3 class="fw-bold fs-2 me-4 me-md-5">Pátek<br />12.11.2021</h3>
            <div
              class="
                position-absolute
                top-50
                start-100
                translate-middle
                badge
                rounded-circle
                bg-success
                p-3
              "
            >
              <span class="visually-hidden"></span>
            </div>
          </div>
          <div class="col-8 col-md-6 col-lg-5 ps-5 py-5">
            <div class="card h-100 shadow text-center">
              <img
                src="/img/duel.jpg"
                class="card-img-top"
                alt="Kryštof a jeho drive"
              />
              <div class="card-body">
                <h5 class="card-title fw-bold fs-3">Playoff</h5>
                <p class="card-text">
                  V noci ve čtvrtek 11.11.2021 se ukončí možnost jamky nominovat
                  a 12.11.2021 začne playoff. Playoff bude probíhat formou
                  duelů, kdy každý duel bude probíhat právě 1 den. V každém
                  duelu můžeš dát své oblíbenější jamce právě jeden hlas.
                  Jakmile duel skončí postoupí jamka, která získá více hlasů.
                </p>
              </div>
            </div>
          </div>
          <div class="col-0 col-lg-1"></div>
        </div>
        <div class="row">
          <div
            class="
              col-4 col-md-6
              text-end
              border-end border-success border-4
              d-flex
              align-items-center
              justify-content-end
              position-relative
              p-0
            "
          >
            <h3 class="fw-bold fs-2 me-4 me-md-5">Pátek<br />26.11.2021</h3>
            <div
              class="
                position-absolute
                top-50
                start-100
                translate-middle
                badge
                rounded-circle
                bg-success
                p-3
              "
            >
              <span class="visually-hidden"></span>
            </div>
          </div>
          <div class="col-8 col-md-6 col-lg-5 ps-5 py-5">
            <div class="card h-100 shadow text-center">
              <img src="/img/win.jpg" class="card-img-top" alt="Poháry" />
              <div class="card-body">
                <h5 class="card-title fw-bold fs-3">Finále</h5>
                <p class="card-text">
                  V pátek 26.11.2021 proběhne poslední duel - velké finále.
                  Rovněž budou vylosování výherci doplňujících soutěží.
                </p>
              </div>
            </div>
          </div>
          <div class="col-0 col-lg-1"></div>
        </div>
      </section>
      <section class="conditions container my-4">
        <h2
          class="
            display-5
            d-inline
            mb-5
            fw-bold
            border-bottom border-5 border-success
          "
        >
          Podmínky soutěže
        </h2>
        <p class="lead my-4">
          Úplné znění podmínek soutěže můžete najít
          <a class="link-success" href="/terms">zde</a>.
        </p>
      </section>
    </main>
    <%- include('../partials/footer') %>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
