<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>
  <body class="d-flex flex-column">
    <div class="mainBox shadow">
      <div class="navBars">
        <%- include('../partials/header') %> <%- include('../partials/navbar')
        %>
      </div>
      <div class="title">
        <div class="title-logo">
          <img src="/logo/logo21_white.png" alt="Jamka Roku 2021" />
        </div>
        <h1 class="fw-bold">
          Hlasování o nejhezčí discgolfovou jamku roku 2021
        </h1>
      </div>
    </div>
    <main>
      <section class="guide container my-5">
        <h2
          class="
            display-5
            d-inline
            fw-bold
            border-bottom border-5 border-success
          "
        >
          Jak soutěžit?
        </h2>
        <div class="row row-cols-1 row-cols-md-2 row-cols-xl-4 g-4 mt-3">
          <div class="col">
            <div class="card h-100 shadow text-center">
              <img
                src="/img/reg.jpg"
                class="card-img-top"
                alt="Stánek prodiscgolf.cz"
              />
              <div class="card-body">
                <h5 class="card-title fw-bold fs-3">1.<br />Zaregistruj se</h5>
                <p class="card-text">
                  Abys mohl/a soutěžit a hlasovat, musíš se
                  <a class="link-success" href="/users/register"
                    >zaregistrovat</a
                  >
                  a <a class="link-success" href="/users/login">přihlásit</a>.
                </p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100 shadow text-center">
              <img
                src="/img/hole5.jpg"
                class="card-img-top"
                alt="Jamka prodiscgolf.cz"
              />
              <div class="card-body">
                <h5 class="card-title fw-bold fs-3">
                  2.<br />Nominuj tři jamky
                </h5>
                <p class="card-text">
                  Po přihlášení a aktivaci účtu vyhledej v
                  <a class="link-success" href="/courses"
                    >seznamu všech hřišť</a
                  >
                  své 3 nejoblíbenější jamky a nominuj je.
                </p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100 shadow text-center">
              <img
                src="/img/duel.jpg"
                class="card-img-top"
                alt="Kryštof Novák a jeho drive"
              />
              <div class="card-body">
                <h5 class="card-title fw-bold fs-3">
                  3.<br />Hlasuj v duelech
                </h5>
                <p class="card-text">
                  Až skončí nominační fáze, začne play-off, neboli duely. V
                  každém duelu můžeš hlasovat pro jamku, kterou máš raději.
                </p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100 shadow text-center">
              <img src="/img/win.jpg" class="card-img-top" alt="Poháry" />
              <div class="card-body">
                <h5 class="card-title fw-bold fs-3">4.<br />Vyhraj</h5>
                <p class="card-text">
                  Nominuj, hlasuj, piš komentáře a nezapomeň sledovat závěrečné
                  vyhlášení. Tím zvýšíš své šance na výhru některé z cen.
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="banner my-5 container">
        <div class="d-none d-md-block">
          <a
          href="https://www.prodiscgolf.cz/"
          target="_blank"
          rel="noopener noreferrer">
          <% if(isBlackFriday) { %> 
            <img
            class="w-100"
            src="/banners/blackfriday_1300px.jpg"
            alt="Banner Black Friday - prodiscgolf.cz"
            />
          <% } else if(isFreeShipping) {  %>
            <img
            class="w-100"
            src="/banners/doprava_1300px.jpg"
            alt="Banner Doprava Zdarma - prodiscgolf.cz"
            />
          <% } else {  %>
            <img
            class="w-100"
            src="/banners/prodiscgolf_1300px.jpg"
            alt="Banner - prodiscgolf.cz"
            />
          <% } %> 
          </a>
        </div>
        <div class="d-block d-md-none">
          <a
          href="https://www.prodiscgolf.cz/"
          target="_blank"
          rel="noopener noreferrer">
          <% if(isBlackFriday) { %> 
            <img
            class="w-100"
            src="/banners/blackfriday_550px.jpg"
            alt="Banner Black Friday - prodiscgolf.cz"
            />
          <% } else if(isFreeShipping) {  %>
            <img
            class="w-100"
            src="/banners/doprava_550px.jpg"
            alt="Banner Doprava Zdarma - prodiscgolf.cz"
            />
          <% } else {  %>
            <img
            class="w-100"
            src="/banners/prodiscgolf_550px.jpg"
            alt="Banner - prodiscgolf.cz"
            />
          <% } %> 
          </a>
        </div> 
      </section>
      <section class="timeline container my-5">
        <h2
          class="
            display-5
            d-inline
            fw-bold
            border-bottom border-5 border-success
          "
        >
          Termíny soutěže
        </h2>
        <div class="row mt-3">
          <div
            class="
              d-none d-sm-flex
              col-4 col-md-3
              text-end
              border-end border-success border-4
              align-items-center
              justify-content-end
              position-relative
              p-0
            "
          >
            <h3 class="fw-bold fs-2 me-4 me-md-5">
              Čtvrtek <time>4.11.2021</time>
            </h3>
            <div
              class="
                position-absolute
                top-50
                start-100
                translate-middle
                badge
                rounded-circle
                bg-success
                p-3
              "
            >
              <span class="visually-hidden"></span>
            </div>
          </div>
          <div class="col-12 col-sm-8 col-md-7 col-lg-6 ps-sm-5 py-2 py-sm-5">
            <h3 class="fw-bold fs-2 me-4 me-md-5 d-block d-sm-none">
              Čtvrtek, <time>4.11.2021</time>
            </h3>
            <div class="card shadow text-center">
              <img
                src="/img/hole5.jpg"
                class="card-img-top"
                alt="Jamka prodiscgolf.cz"
              />
              <div class="card-body">
                <h5 class="card-title fw-bold fs-3">Nominace</h5>
                <p class="card-text">
                  Ve čtvrtek 4.11. v 18:00 to začne! Spustí se možnost nominovat
                  své 3 nejoblíbenější jamky. 16 jamek s nejvyšším počtem
                  nominací pak postoupí do play-off.
                </p>
              </div>
            </div>
          </div>
          <div class="col-0 col-lg-1"></div>
        </div>
        <div class="row mt-3 mt-sm-0">
          <div
            class="
              d-none d-sm-flex
              col-4 col-md-3
              text-end
              border-end border-success border-4
              align-items-center
              justify-content-end
              position-relative
              p-0
            "
          >
            <h3 class="fw-bold fs-2 me-4 me-md-5">
              Čtvrtek <time>11.11.2021</time>
            </h3>
            <div
              class="
                position-absolute
                top-50
                start-100
                translate-middle
                badge
                rounded-circle
                bg-success
                p-3
              "
            >
              <span class="visually-hidden"></span>
            </div>
          </div>
          <div class="col-12 col-sm-8 col-md-7 col-lg-6 ps-sm-5 py-2 py-sm-5">
            <h3 class="fw-bold fs-2 me-4 me-md-5 d-block d-sm-none">
              Čtvrtek, <time>11.11.2021</time>
            </h3>
            <div class="card shadow text-center">
              <img
                src="/img/duel.jpg"
                class="card-img-top"
                alt="Kryštof a jeho drive"
              />
              <div class="card-body">
                <h5 class="card-title fw-bold fs-3">Playoff</h5>
                <p class="card-text">
                  Ve středu 10.11. v 18:00 skončí možnost jamky nominovat a po
                  jednodenní pauze začne ve čtvrtek 11.11. v 18:00 samotné
                  play-off. To bude probíhat formou duelů jamky proti jamce dle
                  umístění v nominaci, kdy každý duel bude probíhat právě jeden
                  den. V každém duelu můžeš dát hlas jamce, kterou máš radši.
                  Jakmile duel skončí, postoupí jamka, která získá více hlasů.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-3 mt-sm-0">
          <div
            class="
              d-none d-sm-flex
              col-4 col-md-3
              text-end
              border-end border-success border-4
              align-items-center
              justify-content-end
              position-relative
              p-0
            "
          >
            <h3 class="fw-bold fs-2 me-4 me-md-5">Pátek <time>26.11.2021</time>
            <div
              class="
                position-absolute
                top-50
                start-100
                translate-middle
                badge
                rounded-circle
                bg-success
                p-3
              "
            >
              <span class="visually-hidden"></span>
            </div>
          </div>
          <div class="col-12 col-sm-8 col-md-7 col-lg-6 ps-sm-5 py-2 py-sm-5">
            <h3 class="fw-bold fs-2 me-4 me-md-5 d-block d-sm-none">
              Pátek, <time>26.11.2021</time>
            </h3>
            <div class="card shadow text-center">
              <img src="/img/win.jpg" class="card-img-top" alt="Poháry" />
              <div class="card-body">
                <h5 class="card-title fw-bold fs-3">Finále</h5>
                <p class="card-text">
                  Grandiózní finále začne ve čtvrtek 25.11. v 18:00. Kvalifikují se do něj 2 jamky, které postoupí skrz všechna kola pavouka až sem. Celá anketa vyvrcholí 26.11. od 17:50 živým přenosem z vyhlášení vítězů, na kterém budou zároveň vyhlášeni výherci všech soutěží.
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="conditions container my-4">
        <h2
          class="
            display-5
            d-inline
            mb-5
            fw-bold
            border-bottom border-5 border-success
          "
        >
          Soutěžní podmínky
        </h2>
        <p class="lead my-4 text-center lh-lg">
          Anketa a soutěž Jamka roku 2021 je hlasováním o nejlepší discgolfovou jamku v České republice s několika vloženými soutěžemi. Bude probíhat ve dnech od 4.11. do 26.11. a v rámci ní jsou vyhlášeny čtyři soutěže – štístko, nominátor, blesk a vypravěč.
        </p>
        <p class="lead my-4 text-center lh-lg"><a class="link-success" href="/terms">Zobrazit více</a></p>
      </section>
    </main>
    <%- include('../partials/footer') %>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
