<% layout('/layouts/mainTemplate') %>

<h1 class="my-3">Soutěžní podmínky</h1>

<p>
  Anketa a soutěž Jamka roku 2021 je hlasováním o nejlepší discgolfovou jamku v
  České republice s několika vloženými soutěžemi. Bude probíhat ve dnech od
  4.11. do 26.11. a v rámci ní jsou vyhlášeny čtyři soutěže – štístko,
  nominátor, blesk a vypravěč.
</p>

<p>Vyhlašovatelem této soutěže je:</p>

<p class="lead">
  HEPA group s.r.o., <br />
  Ježkova 1054/10,<br />
  130 00 Praha 3, <br />
  IČ: 26855071
</p>
<p>
  Tato společnost je zároveň provozovatelem webových stránek
  <a href="https://www.prodiscgolf.cz/">www.prodiscgolf.cz</a>.
</p>

<h2>Pravidla soutěže</h2>

<p>
  Tato úplná pravidla soutěže jsou k dispozici nepřetržitě po celou dobu
  soutěžního období.
</p>
<h3>I. Systém hlasování</h3>
<p>
  Na URL adrese www.jamkaroku.cz bude od 4.11. do 26.11. probíhat hlasování o
  nejlepší pevnou discgolfovou jamku v České republice. Od 4.11. do 10.11. bude
  mít každý k dispozici tři nominační hlasy, které může rozdat až 3 jamkám pro
  postup do play-off. 16 jamek s nejvyšším získaným počtem nominačních hlasů
  postoupí do vyřazovací fáze, která bude probíhat od 11.11. do 26.11. V rámci
  osmifinále budou postupně probíhat duely mezi jednotlivými jamkami podle
  přiděleného počtu nominačních hlasů (1. proti 16., 2. proti 15., 3. proti 14.,
  atd.), poté bude následovat čtvrtfinále, semifinále a finále. Každý účastník
  soutěže musí být přihlášen na webu jamkaroku.cz, jinak není možno nominovat
  ani hlasovat.
</p>
<p>
  V případě shody počtu nominačních hlasů mezi jamkami postupují jamky, které
  daného počtu hlasů dosáhly dříve.
</p>
<p>
  V případě shody počtu hlasů mezi jamkami v rámci vyřazovací fáze (včetně
  finále) postupuje (respektive vyhrává) jamka, která daného počtu hlasů dosáhla
  dříve.
</p>
<h3>II. Termín a místo soutěže</h3>
<p>
  Soutěž bude probíhat na stránce www.jamkaroku.cz od 4.11. v 18.00 do
  26.11.2021 v 18.15 (dále „soutěžní období“).
</p>
<h3>III. Účastníci soutěže</h3>
<p>
  Účastníkem soutěže se může stát každá fyzická osoba starší 18 let s adresou
  pro doručování v České republice nebo na Slovensku. Osoby mladší 18 let pouze
  se souhlasem zákonného zástupce a s doručovací adresou v České republice. Ze
  soutěže budou vyloučeni všichni soutěžící, kteří řádně nesplní podmínky účasti
  v soutěži v souladu s těmito pravidly v soutěžním období. Soutěže se nemohou
  zúčastnit zaměstnanci, pořadatelé a osoby jim blízké a spolupracující
  právnické a fyzické osoby, s nimiž je pořadatel ve smluvním vztahu ohledně
  realizace soutěže, včetně jejich zaměstnanců a osob jim blízkých. Za osobu
  blízkou jsou považovány osoby uvedené v § 116 českého občanského zákoníku.
</p>
<p>
  Každý účastník by se měl hlasování zúčastnit pouze s jedním uživatelským
  účtem. Bude-li zjištěno pochybení, bude účastník vyloučen ze všech soutěží.
</p>
<p>
  Pořadatel soutěže si vyhrazuje právo vyloučit ze soutěže soutěžící, u jejichž
  soutěžního chování se projevují známky podvodného soutěžení, nebo je u nich
  jiné důvodné podezření ze zneužívání soutěže v rozporu s pravidly soutěže.
</p>
<h3>IV. Soutěž štístko</h3>
<p>
  Během slavnostního vyhlášení jamky roku vylosujeme 3 šťastlivce. Za každé
  hlasování v duelu dostane účastník jeden los do osudí. To znamená, že pokud
  bude hlasovat ve všech, bude mít v osudí 15 losů a tím zvýší svou šanci na
  výhru. Každé štístko pak vyhraje 5 disků z našeho eshopu dle vlastního výběru.
  Jakýchkoli, bez cenového omezení, jen musí být aktuálně skladem.
</p>
<p>
  Svou výhru navíc může každé štístko zdvojnásobit, pokud si během soutěžního
  období (4. až 26.11. do 18:00) nakoupí na internetovém obchodě
  www.prodiscgolf.cz pod stejnou e-mailovou adresou, jako má na profilu na
  www.jamkaroku.cz. Maximální výhra pro jednoho šťastlivce je tedy 10 disků dle
  vlastního výběru.
</p>
<h3>V. Soutěž nominátor</h3>
<p>
  Během závěrečného vyhlášení vylosujeme také 2 nominátory – tedy účastníky,
  kteří na začátku soutěže nominovali právě tu jamku, která na jejím konci
  zvítězila. Každý nominátor si odnese poukázku na 1000 Kč do internetového
  obchodu proDiscgolf.cz a poukázku na soukromou lekci discgolfu s Kryštofem
  Novákem v hodnotě 849 Kč.
</p>
<h3>VI. Soutěž blesk</h3>
<p>
  V rámci závěrečného vyhlášení, ze kterého bude živý přenos, moderátoři
  bleskově zmíní také jeden úkol, který bude potřeba udělat . Zavolat, napsat
  SMS, e-mail, nebo možná něco úplně jiného. Vše se dozvíte během závěrečného
  vyhlášení. Výhrou v této soutěži je Mystery box proDiscgolf.cz, edice 2021.
</p>
<h3>VII. Soutěž vypravěč</h3>
<p>
  K jednotlivým hřištím teď lze přidávat komentáře a právě této nové funkce
  využívá soutěž o nejlepšího vypravěče. Napište, co nejhezčího, nejvtipnějšího
  či nejbizarnějšího jste na daném hřišti zažili. Komentář s největším počtem
  liků pak vyhraje zbrusu nový Discmania Fanatic Bag 2.
</p>
<h3>VII. Závěrečné vyhlášení a předání cen</h3>
<p>
  Při splnění podmínek pro účast v jednotlivých soutěžích (štístko, nominátor,
  blesk a vypravěč) se uživatel automaticky stává soutěžícím.
</p>
<p>
  V případě výhry bude účastník kontaktován do 7 dnů od skončení soutěže pomocí
  kontaktních údajů získaných během soutěže. Nebude-li výherce reagovat ani na
  opakovaně zaslanou zprávu o výhře, jeho výhra bez náhrady propadá pořadateli.
  Výhru nelze směnit za hotovost nebo požadovat vydání jiné výhry než jaká je
  pořadatelem soutěže stanovena.
</p>
<p>
  Soutěžící nemůže nárokovat jinou výhru, než která mu bude vydána a nemá nárok
  výhru reklamovat. Výhry není možné vymáhat soudní cestou. Účastí v soutěži
  projevuje soutěžící svůj souhlas s pravidly a zavazuje se tato pravidla
  bezvýhradně dodržovat.
</p>
<h3>5. Souhlas s pravidly a ochrana osobních údajů</h3>
<p>
  Registrací do aplikace www.jamkaroku.cz vyjadřuje účastník soutěže souhlas s
  tím, aby jeho jméno bylo zveřejněno v seznamu výherců, a dále s tím, aby
  pořadatel po dobu 2 let od začátku soutěže zpracovával jeho osobní údaje v
  rozsahu uvedeném v registraci, tj. jméno, adresu a e-mailový kontakt, pro
  marketingové účely (tj. nabízení produktů a služeb) pořadatele v souladu se
  zákonem č. 101/2000 Sb., jakož i pro zasílání obchodních sdělení
  prostřednictvím elektronických prostředků dle zákona č. 480/2004 Sb. Účastníci
  soutěže nemusí souhlasit se zasíláním obchodních sdělení.
</p>
<p>
  Účastník má právo svůj souhlas odvolat. Odvolání souhlasu je účinné okamžikem
  jeho doručení pořadateli. Účastník má dále práva dle § 21 zákona č. 101/2000
  Sb., tj. zejména právo přístupu k údajům, které se ho týkají, a právo je
  opravit, zablokovat nebo požadovat jejich likvidaci, jakož i právo na omluvu,
  peněžní zadostiučinění, nebo peněžitou náhradu, bylo-li jednáním organizátora
  porušeno právo subjektu údajů na lidskou důstojnost, osobní čest, dobrou
  pověst, či právo na ochranu jména.
</p>
<h3>6. Práva a povinnosti Pořadatele</h3>
<p>
  Pořadatel soutěže si dále vyhrazuje právo kdykoliv změnit, omezit, odložit
  nebo přerušit pravidla této soutěže včetně doby její platnosti, či soutěž
  ukončit, a to v průběhu celého soutěžního období. Taková skutečnost bude
  neprodleně oznámena soutěžícím na stránce www.jamkaroku.cz.
</p>
<p>
  Pořadatel je oprávněn kontrolovat splnění všech podmínek pro účast v soutěži a
  v případě sporu rozhodnout s konečnou platností o jakékoliv otázce spojené se
  soutěží. Současně má pořadatel právo vyloučit jakéhokoliv soutěžícího, u něhož
  je podezření, že porušoval tato pravidla nebo se účastnil soutěže podvodným
  způsobem.
</p>
<p>
  Případné námitky k průběhu soutěže je soutěžící povinen zaslat pořadateli do 3
  pracovních dnů od ukončení soutěže e-mailem na adresu tosehodi@prodiscgolf.cz.
  Na pozdější námitky nebude brán zřetel.
</p>
<p>
  Pořadatel neodpovídá za jakékoli škody vzniklé výhercům (soutěžícím) ani
  třetím osobám v souvislosti s účastí v soutěži, nebo realizací výher.
</p>
<p>
  Účastí v soutěži, podle článku 5 těchto pravidel, každý soutěžící potvrzuje,
  že splňuje podmínky účasti v soutěži stanovené těmito pravidly soutěže. Dále
  soutěžící schvaluje tato pravidla a instrukce, které jsou uvedeny na
  soutěžních dokumentech, a přistupuje k nim.
</p>
