.mainBox {
  background-image: linear-gradient(
      rgba(20, 20, 20, 0.5),
      rgba(20, 20, 20, 0.5)
    ),
    url("../img/kobyli-4.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.mainBox .title {
  width: 100%;
  max-width: 700px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mainBox .title .title-logo {
  width: 80%;
  max-width: 400px;
  margin-bottom: 1.5rem;
}

.mainBox .title .title-logo img {
  width: 100%;
}

.mainBox .title h1,
.mainBox .title p {
  text-align: center;
  color: white;
  margin-bottom: 1.5rem;
}

.nominatorsList {
  min-width: 300px;
  width: 25%;
  margin: auto;
}
