<% layout('/layouts/mainTemplate') %>

<h1 class="display-6 d-inline fw-bold border-bottom border-5 border-success">
  Přihlášení
</h1>

<div class="row mt-5">
  <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
    <div class="card shadow">
      <img
        src="https://jamkaroku.cz/wp-content/uploads/2019/11/hp_1.jpg"
        alt="Jamka Roku 2021"
        class="card-img-top"
      />

      <div class="card-body">
        <form
          action="/users/login"
          method="POST"
          class="validated-form"
          novalidate
        >
          <div class="mb-3">
            <label for="username" class="form-label fw-bold"
              >Uživatelské jméno</label
            >
            <input
              type="text"
              class="form-control"
              id="username"
              name="username"
              placeholder="nominator"
              required
            />
            <div class="invalid-feedback">
              Prosím, zadejte své uživatelské jméno.
            </div>
            <div class="valid-feedback">V pořádku!</div>
          </div>
          <div class="mb-3">
            <label for="password" class="form-label fw-bold">Heslo</label>
            <input
              type="password"
              class="form-control"
              name="password"
              id="password"
              required
            />
            <div class="invalid-feedback">Prosím, zadejte své heslo.</div>
          </div>
          <button type="submit" class="btn btn-success w-100">
            Přihlásit se
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
<script src="/js/validateForm.js"></script>
